* {
  margin: 0;
  padding: 0;
}

h1 {
  display: flex;
  justify-content: center;
}

#rps-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  display: flex;
  padding: 30px;
  margin: 5px;
  margin-top: 100px;
  border-radius: 50px;
  background-color: lightskyblue;
  color: black;
  font-size: 30px;
}

#score-container {
  display: flex;
  justify-content: center;
}

span.human-score {
  margin: 20px;
  padding: 50px;
  border: 2px solid black;
  font-size: 30px;
  background-color: rgb(25, 145, 244);
  border-radius: 25px;
  color: white;
}

span.computer-score {
  margin: 20px;
  padding: 50px;
  border: 2px solid black;
  font-size: 30px;
  background-color: rgb(255, 86, 86);
  border-radius: 25px;
  color: white;
}
